include ../../app.mixins.pug
- var formName = 'loginForm'
.background
  .container
    .row.m-t-50
      img.center-block(src='/assets/img/full-logo.png')
    .row.m-t-4-vh
      .col-md-4.col-md-offset-4
        .panel.panel-default
          .panel-body.m-20
            form([formGroup]=formName, novalidate, (ngSubmit)='login()')
              fieldset
                +form-group('email', {required: 'Please enter your email'})
                  +input-without-label('email')
                +form-group('password', {required: 'Please enter your password'})
                  +input-without-label('password')
                .alert.alert-danger([hidden]='! showError')
                  | Email and password don't match
                .m-t-20
                  +submit-button('Sign In', undefined, false)
